 <mat-card>
    <mat-card-title>   
        {{title}}
    </mat-card-title>
    <mat-card-content>    
        <form [formGroup]="productGroup">    
            <table>    
                <tr>    
                    <td>    
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Name" formControlName="name" readonly="{{readOnly}}">
                            <mat-error *ngIf="name.hasError('required')">
                                Name is required
                            </mat-error>
                            <mat-error *ngIf="name.hasError('maxlength')">
                                Name cannot be more than 50 characters.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Description*" formControlName="description" readonly="{{readOnly}}">
                            <mat-error *ngIf="description.hasError('required')">
                                Description is required
                            </mat-error>
                            <mat-error *ngIf="description.hasError('maxlength')">
                                Description cannot be more than 200 characters.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Url" formControlName="url" readonly="{{readOnly}}">
                        </mat-form-field>
                        <mat-error *ngIf="url.hasError('maxlength')">
                            Url cannot be more than 500 characters.
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td>
                      <mat-form-field> 
                          <mat-select placeholder="Category" formControlName="category" multiple [disabled]="readOnly">
                            <mat-option *ngFor="let category of categoryList" [value]="category.CategoryId">
                              {{category.Name}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                    </td>
                </tr>
                <br/><br/>
                <tr>
                    <td colspan="2" class="content-center">
                        <button mat-raised-button color="primary" title="Cancel" routerLink="/productList">
                            Cancel
                        </button>
                        <button *ngIf="readOnly" mat-raised-button color="primary" title="Edit Product" (click)="editProduct()">
                            Edit
                        </button>  
                        <button *ngIf="!readOnly && !productId" mat-raised-button color="primary" title="Save New Product" (click)="saveProduct()" [disabled]="productGroup.invalid">
                            Save
                        </button>
                        <button *ngIf="!readOnly && productId" mat-raised-button color="primary" title="Save New Product" (click)="updateProduct()" [disabled]="productGroup.invalid">
                            Update
                        </button>  
                    </td>
                </tr>
            </table>   
        </form>
    </mat-card-content>
</mat-card>