<mat-card>
    <mat-card-content>
      <form>
          <h3 class="description">Gartner, Inc. (NYSE: IT), is the world’s leading research and advisory company and a member of the S&P 500. 
            We equip business leaders with indispensable insights, advice and tools to achieve their mission-critical priorities
             today and build the successful organizations of tomorrow.</h3>
          <br/>  
          <h4 class="heading">Click below to View Existing products or Add a new Product</h4>
        <div>
          <span>
            <button mat-raised-button color="primary" title="View All Products" routerLink="/productList">
              View All Products
            </button>
            <button mat-raised-button color="primary" title="Add New Product" routerLink="/product">
              Add Product
            </button>
          </span>
      </div>
      </form>
    </mat-card-content>
</mat-card>